ul{
    border: 1px solid black;
    background-color: red;
    width: 50%;
}
li {
    margin: 10px;
}

h3{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

#colorful {
    background-color: red;
    transition: background-color 1s;
}

